# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Environment variables
.env

# Alembic/migrations cache
migrations/__pycache__/
migrations/versions/__pycache__/

# Uploads and temp files
uploads/
temp_audio/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db